<div class="grid grid--2x1 title">
    <h1>Shop By Collection</h1>
    <hr>
    <div class="grid grid--2x2 categories">
        <div class="Best-Sellers">
          <div class="content">
            <H2>Best Sellers</H2>
          </div>
        </div>
        <div class="pots">
          <h2>
            Pots & Accessories
          </h2>
        </div>
        <div class="low-light">
          <h2>
            Low light plants
          </h2>
        </div>
        <div class="pet-safe">
          <h2>
            pet safe plants
          </h2>
        </div>
          </div>
        </div>
      </div>