
<div class="section-header">
  <h2>New Arrivals</h2>
  <hr class="hr--small">
</div>

<div class="grid grid-collection">
    <div class="grid-item grid-item-large">
        <img src="images/Category-BS.jpg" alt="">
      <div class="Caption">Lorem ipsum dolor sit amet.</div>
    </div>
    <div class="grid-item grid-item-small">
      <img src="images/Category-BS.jpg" alt="">
      <div class="Caption">Lorem ipsum dolor sit amet.</div>
    </div>
    <div class="grid-item grid-item-small">
      <img src="images/Category-LL.jpg" alt="">
      <div class="Caption">Lorem ipsum dolor sit amet.</div>
    </div>
  </div>

  <div class="grid grid-collection">
    <div class="grid-item grid-item-large">
        <img src="images/Category-BS.jpg" alt="">
      <div class="Caption">Lorem ipsum dolor sit amet.</div>
    </div>
    <div class="grid-item grid-item-small">
      <img src="images/Category-BS.jpg" alt="">
      <div class="Caption">Lorem ipsum dolor sit amet.</div>
    </div>
    <div class="grid-item grid-item-small">
      <img src="images/Category-LL.jpg" alt="">
      <div class="Caption">Lorem ipsum dolor sit amet.</div>
    </div>
  </div>

  <div class="grid grid-collection">
    <div class="grid-item grid-item-large">
        <img src="images/Category-BS.jpg" alt="">
      <div class="Caption">Lorem ipsum dolor sit amet.</div>
    </div>
    <div class="grid-item grid-item-small">
      <img src="images/Category-BS.jpg" alt="">
      <div class="Caption">Lorem ipsum dolor sit amet.</div>
    </div>
    <div class="grid-item grid-item-small">
      <img src="images/Category-LL.jpg" alt="">
      <div class="Caption">Lorem ipsum dolor sit amet.</div>
    </div>
  </div>

  <div class="grid grid-collection">
    <div class="grid-item grid-item-large">
        <img src="images/Category-BS.jpg" alt="">
      <div class="Caption">Lorem ipsum dolor sit amet.</div>
    </div>
    <div class="grid-item grid-item-small">
      <img src="images/Category-BS.jpg" alt="">
      <div class="Caption">Lorem ipsum dolor sit amet.</div>
    </div>
    <div class="grid-item grid-item-small">
      <img src="images/Category-LL.jpg" alt="">
      <div class="Caption">Lorem ipsum dolor sit amet.</div>
    </div>
  </div>