
<nav class="nav collapsible">
	<a class="nav__brand" href="/"><img src="images/CPL.png" alt="" /></a>
	<ul class="list nav__list collapsible__content">
	  <li class="nav__item"><a href="shop.html">Shop All</a></li>
	  <li class="nav__item"><a href="plants.html">Plants</a></li>
	  <li class="nav__item"><a href="pots.html">Accessories</a></li>
	  <li class="nav__item"><a href="gift.html">Gift</a></li>
	 
	  <li class="nav__item nav__item_icon">
		<a href="#"> <i class="bi bi-person-fill"></i> </a>
	  </li>
	 
	  <li class="nav__item nav__item_icon">
		<a href="#"><i class="bi bi-cart-fill"></i></a>
	  </li>
	 
	  <li class="nav__item nav__item_icon">
		<a href="#"> <i class="bi bi-search"></i> </a>
	  </li>
	
	</ul>
  </nav>
	  <script src="js/main.js"></script>