
          <div class="newsletter">
            <div class="section-header-bt">
              <h2>Newsletter</h2>
              <p>Don't miss our promotions, sales, updates on new plant restocks and exciting news.</p>
              <hr class="hr--small">
              <div class="input-group">
                <input type="text" class="input" placeholder="Your email" />
                <button class="btn btn--accent">
                    Subscribe
                </button>
              </div>
            </div>
          </div>